*.o
*.cmd
*.ko
*.order
*mod.c
*modules.builtin
*o.d
*.tmp*
*in.a
*.dtb*
*.asn1.*
*.tab.*
*.lex.*
*.a
*.s
*.S

kernel_4.19.113-v7+/.config.old

kernel_4.19.113-v7+/.missing-syscalls.d
kernel_4.19.113-v7+/.version
kernel_4.19.113-v7+/Module.symvers
kernel_4.19.113-v7+/System.map
kernel_4.19.113-v7+/arch/arm/include/generated/
kernel_4.19.113-v7+/arch/arm/vdso/vdso.so
kernel_4.19.113-v7+/arch/arm/vdso/vdso.so.dbg
kernel_4.19.113-v7+/include/config/
kernel_4.19.113-v7+/include/generated/
kernel_4.19.113-v7+/vmlinux
kernel_4.19.113-v7+/.config
